
    <link href="../../static/css/galleryslider.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../../static/css/gallerystyle.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../../static/css/galleryflexslider.css" rel="stylesheet" type="text/css" media="all" />

{#    <link rel="stylesheet" href="../../static/css/gallerybootstrap.min.css">#}
       <!-- lightbox--> -->
    <link rel="stylesheet" href="../../static/css/gallerylightbox.min.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="../../static/css/gallerystyle.default.css" id="theme-stylesheet">


<script src="../../static/js/galleryjquery.min.js"></script>
    <script src="../../static/js/gallerybootstrap.min.js"></script>
    <script src="../../static/js/galleryjquery.cookie.js"> </script>
    <script src="../../static/js/gallerylightbox.min.js"></script>