    <link href="../../static/css/index55css" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link href="./../static/css/index55bootstrap.min.css" rel="stylesheet"> <!-- https://getbootstrap.com/ -->
    <link href="./../static/css/index55all.min.css" rel="stylesheet"> <!-- https://fontawesome.com/ -->
    <link href="./../static/css/index55templatemo-diagoona.css" rel="stylesheet">

        <script src="../../static/js/index55jquery-3.4.1.min.js"></script>
    <script src="../../static/js/index55bootstrap.min.js"></script>
    <script src="../../static/js/index55jquery.backstretch.min.js"></script>
    <script src="../../static/js/index55templatemo-script.js"></script>