<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Typerite</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="stylesheet" href="../../static/css/vendor.css">
    <link rel="stylesheet" href="../../static/css/main.css">



    <!-- script
    ================================================== -->
    <script src="../../static/js/modernizr.js"></script>
    <script type="text/javascript" src="../../static/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../static/js/bootstrap.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link href="../../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../../static/css/slider.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../../static/css/flexslider.css" rel="stylesheet" type="text/css" media="all" />



</head>

<body>
{#预加载#}
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
<div class="agileits_main">
    <!-- header -->
	<div class="container">
		<div class="w3_agile_logo">
			<h1 style="padding-top: 4rem"><a href="{% url 'newIndex' %}">无疆</a></h1>
		</div>
		<div class="agileits_w3layouts_nav">
{#			<div id="toggle_m_nav">#}
{#				<div id="m_nav_menu" class="m_nav">#}
{#					<div class="m_nav_ham w3_agileits_ham" id="m_ham_1"></div>#}
{#					<div class="m_nav_ham" id="m_ham_2"></div>#}
{#					<div class="m_nav_ham" id="m_ham_3"></div>#}
{#				</div>#}
{#			</div>#}
			<div id="m_nav_container" class="m_nav wthree_bg">
				<nav class="menu menu--sebastian">
					<ul id="m_nav_list" class="m_nav menu__list">
						<li class="m_nav_item menu__item menu__item--current" id="m_nav_item_1"> <a href="index.html" class="menu__link"> Home </a></li>
						<li class="m_nav_item menu__item" id="moble_nav_item_2"> <a href="#about" class="menu__link"> About Us </a> </li>
						<li class="m_nav_item menu__item" id="moble_nav_item_3"> <a href="#services" class="menu__link">Services</a> </li>
						<li class="m_nav_item menu__item" id="moble_nav_item_4"> <a href="#essentials" class="menu__link">Essentials  </a> </li>
						<li class="m_nav_item menu__item" id="moble_nav_item_5"> <a href="#blog" class="menu__link">Blog</a> </li>
						<li class="m_nav_item menu__item" id="moble_nav_item_6"> <a href="#contact" class="menu__link"> Contact </a> </li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<!--// header -->
	<!-- banner -->
	<div class="w3_banner">
	    <div class="container">
		    <div class="slider">
			    <div class="callbacks_container">
				   <ul class="rslides callbacks callbacks1" id="slider4">
					    <li>
						    <div class="banner_text_w3layouts">
								<h3 style="color: #ffffff;">人生天地间 忽如远行客</h3>
								<p>行者无疆</p>
{#								<div class="w3-button">#}
{#									<a href="#" data-toggle="modal" data-target="#myModal">Read More</a>#}
{#								</div>#}
						    </div>
					    </li>
			    	</ul>
				</div>
		   </div>
		</div>
	</div>
	<!-- //banner -->
</div>

    <!-- preloader
    ================================================== -->
{#    <div id="preloader">#}
{#        <div id="loader" class="dots-fade">#}
{#            <div></div>#}
{#            <div></div>#}
{#            <div></div>#}
{#        </div>#}
{#    </div>#}

    <div id="top" class="s-wrap site-wrapper">

        <!-- site header
        ================================================== -->
{#        <header class="s-header go-top2">#}
{#        如果要实现侧滑可以用上面的例子#}
        <header class="s-header go-top2">
            <div class="header__top ">
                    <p style="font-size: 4rem;color: #ffffff;" >无疆</p>
                <div class="header__search">

                    <form role="search" method="get" class="header__search-form" action="#">
                        <label>
                            <span class="hide-content">Search for:</span>
                            <input type="search" class="header__search-field" placeholder="Type Keywords" value="" name="s" title="Search for:" autocomplete="off">
                        </label>
                        <input type="submit" class="header__search-submit" value="Search">
                    </form>

                    <a href="#0" title="Close Search" class="header__search-close">Close</a>

                </div>  <!-- end header__search -->

                <!-- toggles -->
                <a href="#0" class="header__search-trigger"></a>
                <a href="#0" class="header__menu-toggle"><span>Menu</span></a>

            </div> <!-- end header__top -->

            <nav class="header__nav-wrap">

                <ul class="header__nav">
                    <li class="current" style="color: #ffffff">当前位置：博客主页</li>
                    <li class="current" style="color: #ffffff"><hr/></li>
                    <li class="current"><a href={% url 'newIndex' %} style="color:#f0ad4e" >主站点</a></li>
{#                    <li class="has-children">#}
{#                        <a href="#0" title="">Categories</a>#}
{#                        <ul class="sub-menu">#}
{#                        <li><a href="category.html">Lifestyle</a></li>#}
{#                        <li><a href="category.html">Health</a></li>#}
{#                        <li><a href="category.html">Family</a></li>#}
{#                        <li><a href="category.html">Management</a></li>#}
{#                        <li><a href="category.html">Travel</a></li>#}
{#                        <li><a href="category.html">Work</a></li>#}
{#                        </ul>#}
{#                    </li>#}
{#                    <li class="has-children">#}
{#                        <a href="#0" title="">Blog Posts</a>#}
{#                        <ul class="sub-menu">#}
{#                        <li><a href="single-video.html">Video Post</a></li>#}
{#                        <li><a href="single-audio.html">Audio Post</a></li>#}
{#                        <li><a href="single-gallery.html">Gallery Post</a></li>#}
{#                        <li><a href="single-standard.html">Standard Post</a></li>#}
{#                        </ul>#}
{#                    </li>#}
{#                    <li><a href="styles.html" title="">Django是基础啊</a></li>#}
{#                    <li><a href="styles.html" title="">前端那一大堆事</a></li>#}
{#                    <li><a href="styles.html" title="">Docker你得学啊</a></li>#}
{#                    <li><a href="styles.html" title="">Git你得会啊</a></li>#}
{#                    <li><a href="page-about.html" title="">Linux你学了吗</a></li>#}
{#                    <li><a href="page-contact.html" title="">基础内功得有吧</a></li>#}
{#                    <li><a href="page-contact.html" title="">猎杀offer的时刻到了</a></li>#}
                    {% for cate in navs %}
                        <li><a href="/category/{{ cate.id }}" title="">{{ cate.name }}</a></li>
                    {% endfor %}
                </ul> <!-- end header__nav -->

                <ul class="header__social">
                    <li class="ss-facebook">
                        <a href="Github: https://github.com/woniucumt">
                            <span class="screen-reader-text">GitHub</span>
                        </a>
                    </li>
{#                    <li class="ss-twitter">#}
{#                        <a href="#0">#}
{#                            <span class="screen-reader-text">Twitter</span>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="ss-dribbble">#}
{#                        <a href="#0">#}
{#                            <span class="screen-reader-text">Dribbble</span>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="ss-pinterest">#}
{#                        <a href="#0">#}
{#                            <span class="screen-reader-text">Behance</span>#}
{#                        </a>#}
{#                    </li>#}
                </ul>

            </nav> <!-- end header__nav-wrap -->



        </header> <!-- end s-header -->

        <div class="s-content">

            <div class="masonry-wrap">

                <div class="masonry">

                    <div class="grid-sizer"></div>

                       {% for post in post_list %}

                        <article class="masonry__brick entry  animate-this">

                        <div class="entry__text">
                            <div class="entry__header">
                                <h2 class="entry__title"><a href="single-standard.html">{{ post.title }}</a></h2>
                                <div class="entry__meta">
                                    <span class="entry__meta-cat">
                                        <a href="category.html">分类:{{ post.category }}</a>
                                        <a href="category.html">标签:{{ post.tag }}</a>
                                    </span>
                                    <span class="entry__meta-date">发表时间：
                                        <a href="single-standard.html">{{ post.created_time }}</a>
                                    </span>
                                </div>
                            </div>
                            <div class="entry__excerpt">
                                <p class="wordcut" style="min-height: 60px;" >
                                    {{ post.desc }}

                                </p>
                            </div>
                            <hr/>
                        </div>
                    </article>

                    {% endfor %}



                </div> <!-- end masonry -->

            </div> <!-- end masonry-wrap -->

            <div class="row">
                <div class="column large-full">
                    <nav class="pgn" style="font-size: 20px">
                            {% if page_obj %}
                            {% if page_obj.has_previous %}
                                <a style="font-size: 20px" href="?page={{ page_obj.previous_page_number }}">上一页 &nbsp;&nbsp;</a>
                            {% endif %}
                                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
                            {% if page_obj.has_next %}
                                <a style="font-size: 20px" href="?page={{ page_obj.next_page_number }}">&nbsp;&nbsp;下一页</a>
                            {% endif %}
                            {% endif %}
                    </nav>
                </div>
            </div>

        </div> <!-- end s-content -->


        <!-- footer
        ================================================== -->
        <footer class="s-footer">
            <div class="row">
                <div class="column large-full footer__content">
                    <div class="footer__copyright">
                        <span>© Copyright Woniu 2020</span>
                        <span>Powered By Django</span>
                    </div>
                    <div class="footer__copyright">
                        <span>Code Version:v2.0-Beta</span>
                        <span>Theme Version:v2.0.1-Beta</span>
                    </div>

                </div>
            </div>

            <div class="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"></a>
            </div>
        </footer>

    </div> <!-- end s-wrap -->


    <!-- Java Script
    ================================================== -->
    <script src="../../static/js/jquery-3.2.1.min.js"></script>
    <script src="../../static/js/plugins.js"></script>
    <script src="../../static/js/main.js"></script>
    <script src="../../static/js/main2.js"></script>

</body>