<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>博客列表</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="stylesheet" href="../../static/css/vendor.css">
    <link rel="stylesheet" href="../../static/css/detailsmain.css">



    <!-- script
    ================================================== -->
    <script src="../../static/js/modernizr.js"></script>
    <script type="text/javascript" src="../../static/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../static/js/bootstrap.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link href="../../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../../static/css/slider.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../../static/css/detailsstyle.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../../static/css/flexslider.css" rel="stylesheet" type="text/css" media="all" />



</head>

<body>
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
<div class="agileits_main" style="height: 15rem;">
    <!-- header -->
	<div class="container">
		<div class="w3_agile_logo">
			<h1 style="padding-top: 4rem"><a href="{% url 'blog-view' %}" >无疆</a></h1>
		</div>
	</div>
	</div>
	<!-- //banner -->



    <div id="top" class="s-wrap site-wrapper">

        <!-- site header
        ================================================== -->
{#        <header class="s-header go-top2">#}
{#        如果要实现侧滑可以用上面的例子#}
        <header class="s-header go-top2">
            <div class="header__top ">

{#                <p id="closemenu" style="padding-bottom: 10px;margin-left: 0px;padding-left: 0px">#}
{#                    <img src="../../static/images/closemenu.svg" style="height: 60px;width: 60px;" alt="Homepage">#}
{#                </p>#}
                <p style="font-size: 4rem;color: #ffffff;" ><a href="{% url 'blog-view' %}" style="color:#f0ad4e">无疆</a></p>


            </div> <!-- end header__top -->
            <p id="closemenu" style="position: absolute;right: 0px;top:40%">
                <img src="../../static/images/closemenu2.png" style="height: 100px;width: 40px;" alt="Homepage">
            </p>
            <nav class="header__nav-wrap">

                <ul class="header__nav">
{#                    <li id="closemenu">关闭菜单</li>#}
                    <li class="current" style="color: #ffffff">当前位置：博客列表</li>
                    {% if category.name  %}
                        <li class="current" style="color: #ffffff">当前分类：{{ category.name }}</li>
                    {% else %}
                        <li class="current" style="color: #ffffff">当前分类：全部</li>
                    {% endif %}
                    <li class="current" style="color: #ffffff"><hr/></li>
                    <li class="current"><a href={% url 'newIndex' %} style="color:#f0ad4e" >主站点</a></li>
                    <li class="current"><a href={% url 'blog-view' %} style="color:#f0ad4e" >博客主页</a></li>
                    {% for cate in navs %}
                        <li><a href="/category/{{ cate.id }}" title="">{{ cate.name }}</a></li>
                    {% endfor %}
                </ul> <!-- end header__nav -->
            </nav> <!-- end header__nav-wrap -->



        </header> <!-- end s-header -->

        <div class="s-content">

            <div class="masonry-wrap">

                <div class="masonry">

                    <div class="grid-sizer"></div>

                    <article class="masonry__brick entry  animate-this" >
                        <div class="entry__text">
                            <div class="entry__header">
                                {% if category.name  %}
                                    <h4 style="display: inline">当前分类：{{ category.name }} &nbsp;（共{{ post_list.count }}篇）</h4>
                                    <a href="{% url 'postlist' %}"><h4 style="display: inline;padding-left: 10px" >全部</h4></a>
                                {% else %}
                                    <h4 style="display: inline">当前分类：全部</h4>
                                {% endif %}
                            </div>
                            <hr/>
                        </div>
                    </article> <!-- end article -->
                    {% for post in post_list %}
                        {% if category.name %}
                        {% if post.is_topped %}
                        <article class="masonry__brick entry  animate-this" >
                            <div class="entry__text" >
                            <div class="entry__header">
                                <h2 class="entry__title" ><a href="{% url 'post-detail'  post.id  %}">{{ post.title }}</a>
                                <a style="color: #ff0000;font-size: 12px;border: 1px solid #ff0000;border-radius: 10px;">&nbsp;&nbsp;顶置&nbsp;&nbsp;</a></h2>
                                <div class="entry__meta">
                                    <span class="entry__meta-cat">
                                        <a >分类 : 顶置 / {{ post.category }}</a>
{#                                        <a >标签:{{ post.tag }}</a>#}
                                    </span>
                                    <span class="entry__meta-date">发表时间：
                                        <a >{{ post.created_time }}</a>
                                    </span>
                                </div>
                            </div>
                                <span  style="vertical-align: middle">

                                    <img src="../../static/images/icons/read.svg" style="height: 18px;width: 18px;">
                                    <a>阅读 (<a class="random"></a>)</a>
                                    <img src="../../static/images/icons/dianzan.svg" style="height: 18px;width: 18px;">
                                    <a>点赞 (<a class="random"></a>)</a>
                                    <img src="../../static/images/icons/share.svg" style="height: 18px;width: 18px;">
                                    <a>分享 (<a class="random"></a>)</a>
                                </span><hr/>
                        </div>

                    </article>
                        {% endif %}
                        {% endif %}
                    {% endfor %}


                    {% for post in post_list %}
                        {% if not post.is_topped %}
                        <article class="masonry__brick entry  animate-this">

                        <div class="entry__text">
                            <div class="entry__header">
                                <h2 class="entry__title"><a href="{% url 'post-detail'  post.id  %}">{{ post.title }}</a>
                                <a style="color: #22aaff;font-size: 12px;border: 1px solid #22aaff;border-radius: 10px;">&nbsp;&nbsp;{{ post.is_orignal }}&nbsp;&nbsp;</a></h2>
                                <div class="entry__meta">
                                    <span class="entry__meta-cat">
                                        <a >分类 : {{ post.category }} </a>
{#                                        <a >标签:{{ post.tag }}</a>#}
                                    </span>
                                    <span class="entry__meta-date">发表时间：
                                        <a >{{ post.created_time }}</a>
                                    </span>
                                </div>
                            </div>
                            <div class="entry__excerpt">
                                <p class="wordcut" style="min-height: 60px;" >
                                    {{ post.desc }}

                                </p>
                            </div>
                            <hr/>
                                <span  style="vertical-align: middle">

                                    <img src="../../static/images/icons/read.svg" style="height: 18px;width: 18px;">
                                    <a>阅读 (<a class="random"></a>)</a>
                                    <img src="../../static/images/icons/dianzan.svg" style="height: 18px;width: 18px;">
                                    <a>点赞 (<a class="random"></a>)</a>
                                    <img src="../../static/images/icons/share.svg" style="height: 18px;width: 18px;">
                                    <a>分享 (<a class="random"></a>)</a>
                                </span>
                        </div>
                    </article>
                    {% endif %}
                    {% endfor %}

                    {% if post_list.count < 3 %}

                        <article class="masonry__brick entry  animate-this">

                        <div class="entry__text">
                            <div class="entry__header">
                                <h2 class="entry__title"><a >在学了在学了别催鸭！</a></h2>
                                <div class="entry__meta">
                                    <span class="entry__meta-cat">
                                        <a >分类 : {{ post.category }}</a>
{#                                        <a >标签:{{ post.tag }}</a>#}
                                    </span>
                                    <span class="entry__meta-date">发表时间：
                                        <a >系统上线那一天</a>
                                    </span>
                                </div>
                            </div>
                            <div class="entry__excerpt">
                                <p class="wordcut" style="min-height: 60px;" >
                                    博主在学了！原谅博主又得找工作又得学各种东西……写博不易，且催且珍惜！
                                    毕竟系统才刚上线鸭！系统整体升级，之前的文章不要了！不要了！

                                </p>
                            </div>
                            <hr/>
                                <span  style="vertical-align: middle">

                                    <img src="../../static/images/icons/read.svg" style="height: 18px;width: 18px;">
                                    <a>催(<a class="random"> </a>)</a>
                                    <img src="../../static/images/icons/dianzan.svg" style="height: 18px;width: 18px;">
                                    <a>催催(<a class="random"> </a>)</a>
                                    <img src="../../static/images/icons/share.svg" style="height: 18px;width: 18px;">
                                    <a>催催催(<a class="random"> </a>)</a>
                                </span>
                        </div>
                    </article>

                    {% endif %}



                </div> <!-- end masonry -->

            </div> <!-- end masonry-wrap -->

            <div class="row">
                <div class="column large-full">
                    <nav class="pgn" style="font-size: 20px">
                            {% if page_obj %}
                            {% if page_obj.has_previous %}
                                <a style="font-size: 20px" href="?page={{ page_obj.previous_page_number }}">上一页 &nbsp;&nbsp;</a>
                            {% endif %}
                                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
                            {% if page_obj.has_next %}
                                <a style="font-size: 20px" href="?page={{ page_obj.next_page_number }}">&nbsp;&nbsp;下一页</a>
                            {% endif %}
                            {% endif %}
                    </nav>
                </div>
            </div>

        </div> <!-- end s-content -->


        <!-- footer
        ================================================== -->
        <footer class="s-footer">
            <div class="row">
                <div class="column large-full footer__content">
                    <div class="footer__copyright">
                        <span>© Copyright Woniu 2020</span>
                        <span>Powered By Django</span>
                    </div>
                    <div class="footer__copyright">
                        <span>Code Version:v2.0-Beta</span>
                        <span>Theme Version:v2.0.1-Beta</span>
                    </div>

                </div>
            </div>


            <div class="go-top" style="text-align: left">
                <p id="p1" style="padding-bottom: 10px;margin-left: 0px;padding-left: 0px">
                    <img src="../../static/images/openmenu.png" style="height: 100px;width: 40px;" alt="Homepage"></p>
            </div>
        </footer>

    </div> <!-- end s-wrap -->


    <!-- Java Script
    ================================================== -->
    <script src="../../static/js/jquery-3.2.1.min.js"></script>
    <script src="../../static/js/plugins.js"></script>
    <script src="../../static/js/detailsmain.js"></script>
    <script src="../../static/js/main2.js"></script>
{#    生成随机数#}
    <script type="text/javascript">
        var ele=document.getElementsByClassName("random");
        var count=ele.length
        for(var i =0;i<count;i++)
        {
              ele[i].innerHTML=parseInt(100*Math.random())
        }
    </script>


</body>