<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Typerite</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=2">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../../static/css/blogindexbase.css">
    <link rel="stylesheet" href="../../static/css/blogindexvendor.css">
    <link rel="stylesheet" href="../../static/css/blogindexmain.css">
    <link href="../../static/css/blogindexstyle.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../../static/css/blogindexboostrap.css" rel="stylesheet" type="text/css" media="all" />

    <!-- script
    ================================================== -->
    <script src="../../static/js/modernizr.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">


</head>

<body>

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="agileits_main">
    <!-- header -->
        <div class="container">
            <div class="w3_agile_logo">
                <h1><a href="index.html">Toddler</a></h1>
            </div>
            <div class="agileits_w3layouts_nav">
            </div>
        </div>
        <!--// header -->
        <!-- banner -->
        <div class="w3_banner">
            <div class="container">
                <div class="slider">
                    <div class="callbacks_container">
                       <ul class="rslides callbacks callbacks1" id="slider4">
                            <li>
                                <div class="banner_text_w3layouts">
                                    <h3 style="color: #ffffff;">人生天地间 忽如远行客</h3>
								    <p>行者无疆</p>
                                    <a  class="smoothscroll" href="#top"><div class="animate-bounce-up"></div></a>
                                </div>
                            </li>
                        </ul>
                    </div>
               </div>
            </div>
        </div>
        <!-- //banner -->
    </div>

    <div id="top" class="s-wrap site-wrapper" style="background-color: #f6f7f8">

        <!-- site header
        ================================================== -->
        <header class="s-header">

            <div class="header__top">
                <div class="header__logo">
                    <a class="site-logo" href="index.html">
                        <p style="font-size: 4rem;color: #ffffff;" ><a href="{% url 'blog-view' %}" style="color:#f0ad4e">无疆</a></p>
                    </a>
                </div>

                <div class="header__search">

                    <form role="search" method="get" class="header__search-form" action="#">
                        <label>
                            <span class="hide-content">Search for:</span>
                            <input type="search" class="header__search-field" placeholder="Type Keywords" value="" name="s" title="Search for:" autocomplete="off">
                        </label>
                        <input type="submit" class="header__search-submit" value="Search">
                    </form>

                    <a href="#0" title="Close Search" class="header__search-close">Close</a>

                </div>  <!-- end header__search -->

                <!-- toggles -->
                <a href="#0" class="header__search-trigger"></a>
                <a href="#0" class="header__menu-toggle"><span>Menu</span></a>

            </div> <!-- end header__top -->

            <nav class="header__nav-wrap">

                <ul class="header__nav">
{#                    <li id="closemenu">关闭菜单</li>#}
                    <li class="current" style="color: #ffffff">当前位置：博客详情</li>
                    <li class="current" style="color: #ffffff"><hr/></li>
                    <li class="current"><a href={% url 'newIndex' %} style="color:#f0ad4e" >主站点</a></li>
                    <li class="current"><a href={% url 'postlist' %} style="color:#f0ad4e" >博客列表</a></li>
                    {% for cate in navs %}
                        <li><a href="/category/{{ cate.id }}" title="">{{ cate.name }} ({{ cate.post_count }})</a></li>
                    {% endfor %}

                </ul>

            </nav> <!-- end header__nav-wrap -->

        </header> <!-- end s-header -->

        <div class="s-content">

            <div class="masonry-wrap">

                <div class="masonry">

                    <div class="grid-sizer"></div>

                    <article class="masonry__brick entry format-quote animate-this" >

                        <div class="entry__thumb" style="background-color: #e7e8e9">
                            <blockquote>
                                <p>求实习！！！各位大佬求求实习！！！</p>

                                <cite>记录，总结，领悟</cite>
                            </blockquote>
                        </div>

                    </article> <!-- end article -->


                    {% for post in post_list %}
                    {% if not post.is_topped %}
                    <article class="masonry__brick entry format-audio animate-this" style="border-radius: 20px">

                        <div class="entry__text">
                            <div class="entry__header">
                                <h2 class="entry__title"><a href="{% url 'post-detail'  post.id  %}">{{ post.title }}</a></h2>
                                {% if post.is_orignal == "原创" %}
                                <a style="color: #22aaff;font-size: 12px;border: 1px solid #22aaff;border-radius: 10px;">&nbsp;&nbsp;原创&nbsp;&nbsp;</a>
                                {% endif  %}
                                {% if post.is_orignal == "加工" %}
                                <a style="color: #2d00ff;font-size: 12px;border: 1px solid #2d00ff;border-radius: 10px;">&nbsp;&nbsp;加工&nbsp;&nbsp;</a>
                                {% endif  %}
                                {% if post.is_orignal == "转载" %}
                                <a style="color: #ff7d1f;font-size: 12px;border: 1px solid #ff7d1f;border-radius: 10px;">&nbsp;&nbsp;转载&nbsp;&nbsp;</a>
                                {% endif  %}

                                <div class="entry__meta">
                                    <span class="entry__meta-cat">
                                        <a href="category.html">分类:{{ post.category }}</a>
{#                                        <a href="category.html">标签:{{ post.tag }}</a>#}
                                    </span>
                                    <span class="entry__meta-date">发表时间：
                                        <a href="single-standard.html">{{ post.created_time }}</a>
                                    </span>
                                </div>
                            </div>
                            <div class="entry__excerpt">
                                <p class="wordcut" style="min-height: 60px;" >
                                    {{ post.desc }}
                                </p>
                            </div>
                        </div>

                    </article> <!-- end article -->
                    {% endif %}
                    {% endfor %}
                    <article class="masonry__brick entry format-link animate-this">
                        <div class="entry__thumb">
                            <div class="link-wrap">
                                <h2>Powerful web & Wordpress hosting. Guaranteed. Starting at $2.59/mo!</h2>
                                <cite>
                                    <a target="_blank" href="https://www.dreamhost.com/r.cgi?287326">https://www.dreamhost.com</a>
                                </cite>
                            </div>
                        </div>

                    </article> <!-- end article -->


                </div> <!-- end masonry -->

            </div> <!-- end masonry-wrap -->

            <div class="row">
                <div class="column large-full">
                    <nav class="pgn">
                        <ul>
                            <li><a class="pgn__prev" href="#0">Prev</a></li>
                            <li><a class="pgn__num" href="#0">1</a></li>
                            <li><span class="pgn__num current">2</span></li>
                            <li><a class="pgn__num" href="#0">3</a></li>
                            <li><a class="pgn__num" href="#0">4</a></li>
                            <li><a class="pgn__num" href="#0">5</a></li>
                            <li><span class="pgn__num dots">…</span></li>
                            <li><a class="pgn__num" href="#0">8</a></li>
                            <li><a class="pgn__next" href="#0">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div> <!-- end s-content -->


        <!-- footer
        ================================================== -->
        <footer class="s-footer">
            <div class="row">
                <div class="column large-full footer__content">
                    <div class="footer__copyright">
                        <span>© Copyright Woniu 2020</span>
                        <span>Powered By Django</span>
                    </div>
                    <div class="footer__copyright">
                        <span>Code Version:v2.0-Beta</span>
                        <span>Theme Version:v2.0.1-Beta</span>
                    </div>

                </div>
            </div>

            <div class="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"></a>
            </div>
        </footer>

    </div> <!-- end s-wrap -->


    <!-- Java Script
    ================================================== -->
    <script src="../../static/js/jquery-3.2.1.min.js"></script>
    <script src="../../static/js/plugins.js"></script>
    <script src="../../static/js/main.js"></script>
    <script src="../../static/js/main2.js"></script>

</body>