<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>博文详情</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="stylesheet" href="../../static/css/vendor.css">
    <link rel="stylesheet" href="../../static/css/detailsmain.css">



    <!-- script
    ================================================== -->
    <script src="../../static/js/modernizr.js"></script>
    <script type="text/javascript" src="../../static/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../static/js/bootstrap.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link href="../../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../../static/css/slider.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../../static/css/detailsstyle.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../../static/css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="../../static/css/animationstyle.css">



</head>

<body>
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
<div class="agileits_main" style="height: 15rem;">
    <!-- header -->
	<div class="container">
		<div class="w3_agile_logo">
			<h1 style="padding-top: 4rem"><a href="{% url 'blog-view' %}">无疆</a></h1>
		</div>
	</div>
	</div>
	<!-- //banner -->

    <!-- preloader
    ================================================== -->
{#    <div id="preloader">#}
{#        <div id="loader" class="dots-fade">#}
{#            <div></div>#}
{#            <div></div>#}
{#            <div></div>#}
{#        </div>#}
{#    </div>#}

    <div id="top" class="s-wrap site-wrapper">

        <!-- site header
        ================================================== -->
{#        <header class="s-header go-top2">#}
{#        如果要实现侧滑可以用上面的例子#}
        <header class="s-header go-top2" style="z-index: 1200">
            <div class="header__top ">

                <p style="font-size: 4rem;color: #ffffff;" ><a href="{% url 'blog-view' %}" style="color:#f0ad4e">无疆</a></p>


            </div> <!-- end header__top -->
            <p id="closemenu" style="position: absolute;right: 0px;top:40%">
                <img src="../../static/images/closemenu2.png" style="height: 100px;width: 40px;" alt="Homepage">
            </p>
            <nav class="header__nav-wrap">

                <ul class="header__nav">
{#                    <li id="closemenu">关闭菜单</li>#}
                    <li class="current" style="color: #ffffff">当前位置：博客详情</li>
                    <li class="current" style="color: #ffffff"><hr/></li>
                    <li class="current"><a href={% url 'newIndex' %} style="color:#f0ad4e" >主站点</a></li>
                    <li class="current"><a href={% url 'postlist' %} style="color:#f0ad4e" >博客列表</a></li>
                    {% for cate in navs %}
                        <li><a href="/category/{{ cate.id }}" title="">{{ cate.name }}</a></li>
                    {% endfor %}

                </ul>
                <!-- end header__nav -->
            </nav> <!-- end header__nav-wrap -->
        </header> <!-- end s-header -->
{#        下面这一层是整体的布局。footer也是塞在这里面的。他填充了父窗体。#}
       <!-- site content
        ================================================== -->
        <div class="s-content content" style="background: rgba(255,255,255,0.8);" >
            <main class="row content__page">
                <div  class="taitou">
                    <p style="font-size: 18px;padding-top: 10px">本文共计：{{ post.word_count }} 字，建议阅读时间：{{ post.read_time }} 分钟。</p>
                </div>
                <article class="column large-full entry format-standard" style="border: 1px solid #bfbfbf;box-shadow: 0 0 15px rgba(0,0,0,0.8)">

{#                  存在的意义是占位#}
                    <div style="height: 40px">
                        <div style="visibility: hidden">
                            <p>占位，别想太多</p>
                        </div>
                    </div>

                    <div class="content__page-header entry__header">
                        <h1 class="display-1 entry__title">
                        {{ post.title }}
                        </h1>
                        <ul class="entry__header-meta">
                            <li class="author">By <a href="#0">Woniu</a></li>
                            <li class="date">{{ post.created_time }}</li>
                            <li class="date">查看： <a class="random"></a></li>
                            <li class="date">点赞： <a class="random"></a></li>

                        </ul>
                    </div> <!-- end entry__header -->
{#                    我暂时当你是markdown的吧#}
                    <div class="entry__content">

                            {% autoescape off %}
                                {{ post.content }}
                            {% endautoescape %}


                    </div> <!-- end entry content -->

                </article> <!-- end column large-full entry-->

            </main>

        </div> <!-- end s-content -->
{#<div style="width: 85%;background-color: #ffffff">#}
{#                        <!-- footer#}
{#        ================================================== -->#}
        <footer class="s-footer">
            <div class="row" style="background:rgb(249,250,251);height: 150px; border:1px solid #f5f5f5">
                <div>
                    <img class='footbanner'  src="../../static/images/icons/touxiang.jpeg" style="height: 130px;width: 130px;">
                </div>
                <div>
                  <p class='footbanner'> 作者：进击的woniu</p>
                  <p class='footbanner'> 写博客不易，且看且珍惜。</p>
                  <p class='footbanner'> 博文仅供参考。如有错误，欢迎指正！</p>
                  <p class='footbanner'> 如果觉得这篇文章有用，欢迎转载，转载请注明出处！</p>
                </div>
            </div>
            <div class="row" style="background:rgba(249,250,251,0.6);height: 150px;">
                <div style="margin: auto;display: inline-block">
                    <div style="display: inline-block">
                    <span><img id='dianzanimg1' class="dianzan" onclick="dianzan1()" src="../../static/images/sjb8.gif" style="height: 80px;width: 80px;"></span>
                        <p id="dianzan1">大佬求点赞</p>
                    </div>
                    <div style="display: inline-block">
                    <span><img id='dianzanimg2' class="dianzan" onclick="dianzan2()" src="../../static/images/sjb8.gif" style="height: 80px;width: 80px;"></span>
                        <p id="dianzan2">大佬求点赞</p>
                    </div>
                    <div style="display: inline-block">
                    <span><img id='dianzanimg3' class="dianzan" onclick="dianzan3()" src="../../static/images/sjb8.gif" style="height: 80px;width: 80px;"></span>
                        <p id="dianzan3">大佬求点赞</p>
                    </div>
                    <div style="display: inline-block">
                    <span><img id='dianzanimg4' class="dianzan" onclick="dianzan4()" src="../../static/images/sjb8.gif" style="height: 80px;width: 80px;"></span>
                        <p id="dianzan4">大佬求点赞</p>
                    </div>
                    <div style="display: inline-block">
                    <span><img id='dianzanimg5' class="dianzan" onclick="dianzan5()" src="../../static/images/sjb8.gif" style="height: 80px;width: 80px;"></span>
                        <p id="dianzan5">大佬求点赞</p>
                    </div>
                    <div style="display: inline-block">
                    <span><img id='dianzanimg6' class="dianzan" onclick="dianzan6()" src="../../static/images/sjb8.gif" style="height: 80px;width: 80px;"></span>
                        <p id="dianzan6">大佬求点赞</p>
                    </div>
                    <div style="display: inline-block">
                    <span><img id='dianzanimg7' class="dianzan" onclick="dianzan7()" src="../../static/images/sjb8.gif" style="height: 80px;width: 80px;"></span>
                        <p id="dianzan7">大佬求点赞</p>
                    </div>
                    <div style="display: inline-block">
                    <span><img id='dianzanimg8' class="dianzan" onclick="dianzan8()" src="../../static/images/sjb8.gif" style="height: 80px;width: 80px;"></span>
                        <p id="dianzan8">大佬求点赞</p>
                    </div>
                </div>
            </div>

        </footer>
        <footer class="s-footer">
            <div class="row">
                <div class="column large-full footer__content">
                    <div class="footer__copyright">
                        <span>© Copyright Woniu 2020</span>
                        <span>Powered By Django</span>
                    </div>
                    <div class="footer__copyright">
                        <span>Code Version:v2.0-Beta</span>
                        <span>Theme Version:v2.0.1-Beta</span>
                    </div>
                </div>
            </div>
        </footer>
        <div class="go-top" >
            <p id="p1" style="padding-bottom: 10px;margin-left: 0px;padding-left: 0px">
                <img src="../../static/images/openmenu.png" style="height: 100px;width: 40px;" alt="Homepage"></p>
        </div>
           <canvas style="z-index: -1">
           </canvas>

    </div> <!-- end s-wrap -->

    <!-- Java Script
    ================================================== -->
    <script src="../../static/js/jquery-3.2.1.min.js"></script>
    <script src="../../static/js/plugins.js"></script>
    <script src="../../static/js/detailsmain.js"></script>
    <script src="../../static/js/main2.js"></script>
    <script src='../../static/js/animationzrveeq.js'></script>
    <script  src="../../static/js/animationindex.js"></script>
{#    生成随机数#}
    <script type="text/javascript">
        var ele=document.getElementsByClassName("random");
        var count=ele.length
        for(var i =0;i<count;i++)
        {
              ele[i].innerHTML=parseInt(100*Math.random())
        }
    </script>

</body>