<!doctype html>

<html lang="zh">
   
   
    <head>
       
       
        <!-- META -->
        <meta charset="utf-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
       
        <!-- PAGE TITLE -->
        <title>关于站点</title>
       
        <!-- FAVICON -->
        <link rel="shortcut icon" href="assets/img/favicon.png">
        <link rel="stylesheet" type="text/css" href="../../static/css/pluginshhh.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/mainhhh.css">
        
        
    </head>

   
    <body>
    
       
        <!-- PRELOADER -->
        <div class="preloader">

            <div class="spinner"></div>

        </div>
        <!-- /PRELOADER -->
    
        
        <!-- IMAGE CONTAINER -->
        <div class="image-container">
            <div class="background-img"  style="background: url(../../static/images/aboutsitebg.jpg);"></div>
            <a class="backtoindex" href={% url 'IndexHome' %}  ><p class=backtoindexfont >培风</p></a>
        </div>
        <!-- /IMAGE CONTAINER -->
        <!-- CONTENT AREA -->
        <div class="content-area">
            <!-- CONTENT AREA INNER --> 
            <div class="content-area-inner">
                <!-- INTRO -->
                <section id="intro">
                    <!-- CONTAINER MID -->
                    <div class="container-mid">
                        <!-- ANIMATION CONTAINER -->
                        <div class="animation-container animation-fade-down" data-animation-delay="0">
                            <h1>灵感</h1>
                        </div>
                        <!-- /ANIMATION CONTAINER -->
                        <!-- ANIMATION CONTAINER -->
                        <div class="animation-container animation-fade-left" data-animation-delay="300">
                            <p class="subline">
                                <br/>培风
                                <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-- 故九万里，则风斯在下矣，而后乃今培风
                                <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-- 《逍遥游》庄子
                                <br/>破卷
                                <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--读书破万卷 下笔如有神
                                <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--《奉赠韦左丞丈二十二韵》 唐 杜甫
                                <br/>无疆
                                <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-- 行者无疆
                                <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-- 源于《晏子春秋》
                                <br/>筑蜃
                                <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-- 蜃者，吐气成楼
                                <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-- 《本草》
                        </div>
                    </div>
                    <!-- /CONTAINER MID -->
                </section>
                <!-- /INTRO -->
                <!-- ABOUT -->
                <section id="about">
                    <h3 class="headline scroll-animated-from-right">源于</h3>
                    <p class="scroll-animated-from-right">-- 不断学习，不断尝试。
                                                          <br/>-- 记录学习的点滴，既是自己的笔记，也是与他人的分享。
                                                          <br/>-- 包括学术主页、博客、以及画廊三个站点。
                                                          <br/>-- 整体设计风格追求简洁，LESS IS MORE
                                                          <br/>-- 学术和博客风格中规中矩，注重内容呈现。
                                                          <br/>-- 画廊风格不同，注重视觉冲击。</p>

                </section>
                <section id="about">
                    <h3 class="headline scroll-animated-from-right">技术栈</h3>
                    <p class="scroll-animated-from-right">-- 系统整体采用Django开发。
                                                     <br/>-- 部署在阿里云服务器，OS:Centos7
                                                     <br/>-- 容器：Docker + Docker-Compose
                                                     <br/>-- 前端使用Html+CSS，模板改造自网络。
                                                          </p>

                </section>
                <section id="about">
                    <h3 class="headline scroll-animated-from-right">版本与支持</h3>
                    <p class="scroll-animated-from-right">-- 网站 v2.0-Beta  主题：v2.0.1-Beta
                                                     <br/>-- TODO：代码清扫、交互优化。
                                                     <br/>-- TODO：评论模块。
                                                          </p>

                </section>


                <!-- /CONTACT -->
                <!-- FOOTER -->
            </div>
            <!-- /CONTENT AREA INNER -->


        </div>
        <!-- /CONTENT AREA -->
        
        
        <!-- JAVASCRIPTS -->
        <script type="text/javascript" src="../../static/js/pluginsaboutme.js"></script>
        <script type="text/javascript" src="../../static/js/mainaboutme.js"></script>
   
   
    </body> 
    
    
</html>