<!doctype html>

<html lang="zh">
   
   
    <head>
       
       
        <!-- META -->
        <meta charset="utf-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <!-- PAGE TITLE -->
        <title>关于蜗牛</title>

        <link rel="stylesheet" type="text/css" href="../../static/css/mainhhh.css">
{#        <link rel="stylesheet" type="text/css" href="../../static/css/pluginshhh.css">#}
    </head>

   
    <body>
    
       
        <!-- PRELOADER -->
        <div class="preloader">

            <div class="spinner"></div>

        </div>
        <!-- /PRELOADER -->
    
        
        <!-- IMAGE CONTAINER -->
        <div class="image-container">
            <div class="background-img"></div>
            <a class="backtoindex" href={% url 'IndexHome' %}  ><p class=backtoindexfont >培风</p></a>
        </div>
        <!-- /IMAGE CONTAINER -->
        <!-- CONTENT AREA -->
        <div class="content-area">
            <!-- CONTENT AREA INNER --> 
            <div class="content-area-inner">
                <!-- INTRO -->
                <section id="intro">
                    <!-- CONTAINER MID -->
                    <div class="container-mid">
                        <!-- ANIMATION CONTAINER -->
                        <div class="animation-container animation-fade-down" data-animation-delay="0">
                            <h1>叫我蜗牛</h1>
                        </div>
                        <div class="animation-container animation-fade-left" data-animation-delay="300">
                            <p class="subline">
                                <br/>一直在成长，一直在路上。
                                <br/>不想当博士的程序员不是好设计师。
                                <br/>做在哪里都可以发光的人。
                                <br/></p>
                                <a target="_blank" href="/static/Zheng-Liu-CV.pdf"
                                   style="margin-top: 10px;color: #ffffff;background-color: #0b0b0b;padding-left: 30px;padding-right: 30px;border-radius: 15px;font-size: 2rem">简历</a>
                        </div>

{#                          跳动的箭头，基本是跟住底走#}
                            <a> <div class="animate-bounce-up"  style="margin-top: 200px"></div></a>
                    </div>
                    <!-- /CONTAINER MID -->
                </section>

                <!-- /INTRO -->
                <!-- ABOUT -->
               <section id="work">
                    <h3 class="headline scroll-animated-from-right">研究领域/项目</h3>
                    <!-- SHOWCASE -->
                    <div class="showcase">
                        <!-- ITEM -->
                        <div class="item scroll-animated-from-right">
                            <!-- LIGHTBOX LINK -->
                                <!-- INFO -->
                                <div class="info">
                                    <!-- CONTAINER MID -->
                                    <div class="container-mid">
                                        <p style="font-size: 20px;font-weight: 400">计算思维</p>
                                        <p>专注于K12编程教育中，学生计算思维的研究。
                                           针对由积木式编程形成的Python代码，评价其反映的计算思维能力，和初级阶段对语言的掌握程度。</p>
                                    </div>
                                </div>
                                <!-- /INFO -->
                                <div class="background-image" style="background-image: url(../../static/images/mywork3.jpeg)"></div>
                        </div>
                        <div class="item scroll-animated-from-right">
                            <!-- LIGHTBOX LINK -->
                                <!-- INFO -->
                                <div class="info">
                                    <!-- CONTAINER MID -->
                                    <div class="container-mid">
                                        <p style="font-size: 20px;font-weight: 400">代码可读性研究</p>
                                        <p>评价Python代码可读性。
                                           提出新的评价代码可读性特征集，并使用XGBoost等模型作为分类器，对代码的可读性进行评价。</p>
                                    </div>
                                </div>
                                <!-- /INFO -->
                                <div class="background-image" style="background-image: url(../../static/images/mywork2.png)"></div>
                        </div>
                        <!-- /ITEM -->
                        <div class="item scroll-animated-from-right">
                            <!-- LIGHTBOX LINK -->
                                <!-- INFO -->
                                <div class="info">
                                    <!-- CONTAINER MID -->
                                    <div class="container-mid">
                                        <p style="font-size: 20px;font-weight: 400">Block-Python编程工具</p>
                                        <p>积木式Python编程工具。
                                            通过积木式拖拽积木，可以形成可执行的Python代码脚本，提供Python初级教学。</p>
                                    </div>
                                </div>
                                <!-- /INFO -->
                                <div class="background-image" style="background-image: url(../../static/images/mywork1.png)"></div>
                        </div>
                        <div class="item scroll-animated-from-right">
                            <!-- LIGHTBOX LINK -->
                                <!-- INFO -->
                                <div class="info">
                                    <!-- CONTAINER MID -->
                                    <div class="container-mid">
                                        <p style="font-size: 20px;font-weight: 400">基于Raspberry的智能家居</p>
                                        <p>基于Raspberry的智能家居系统。
                                           包含：传感器+Arduino形成的下位机；Android应用作为用户接口；Raspberry作为数据中心接收数据，并当做Web服务器接受用户请求。</p>
                                    </div>
                                </div>
                                <!-- /INFO -->
                                <div class="background-image" style="background-image: url(../../static/images/mywork4.jpg)"></div>
                        </div>
                    </div>
                    <!-- /SHOWCASE -->
                </section>
                <section >
                       <div>
                            <h3>技能</h3>
                            <ul class="skill-bars" style="margin-left: -40px">
                                <li>
                                <div class="progress percent85"><span>85%</span></div>
                                <strong>PYTHON</strong>
                                </li>
                                <li>
                                <div class="progress percent75"><span>75%</span></div>
                                <strong>DJANGO+FLASK</strong>
                                </li>
                                <li>
                                <div class="progress percent75"><span>75%</span></div>
                                <strong>HTML+CSS</strong>
                                </li>
                                <li>
                                <div class="progress percent70"><span>70%</span></div>
                                <strong>RASPBERRY,ARDUNIO</strong>
                                </li>
                                <li>
                                <div class="progress percent70"><span>65%</span></div>
                                <strong>ANDROID</strong>
                                </li>
                                <li>
                                <div class="progress percent65"><span>65%</span></div>
                                <strong>DOCKER,LINUX</strong>
                                </li>
                                <li>
                                <div class="progress percent100"><span>100%</span></div>
                                <strong>IDEAS</strong>
                                </li>
                            </ul>

                        </div>
                </section>
                <!-- /SERVICE -->
                <!-- CONTACT -->
                <section id="contact">
                    <h3 class="headline scroll-animated-from-right">联系我</h3>
                    <!-- CONTACT LIST -->
                    <ul class="contact-list">
{#                        <li class="scroll-animated-from-right"><i class="fa fa-mobile" aria-hidden="true"></i>woniu@bupt.edu.cn</li>#}
                        <li class="scroll-animated-from-right">woniu@bupt.edu.cn</li>
{#                        <a><li class="scroll-animated-from-right"><i class="fa fa-mobile" aria-hidden="true"></i>Github: https://github.com/woniucumt</li></a>#}
                    </ul>
                    <!-- /CONTACT LIST -->
                </section>
                <!-- /CONTACT -->
            </div>
            <!-- /CONTENT AREA INNER -->


        </div>
        <!-- /CONTENT AREA -->
        
        
        <!-- JAVASCRIPTS -->
        <script type="text/javascript" src="../../static/js/pluginsaboutme.js"></script>
        <script type="text/javascript" src="../../static/js/mainaboutme.js"></script>
   
   
    </body> 
    
    
</html>