<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
    <style>
        .dianzan:hover{
        content: url('../../static/images/xxdl.gif');

}
    </style>
<script type="text/javascript" src="../../static/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
//定义获取词语下标
var a_idx = 0;
jQuery(document).ready(function($) {
    //点击body时触发事件
    $("#haha").click(function(e) {
    //需要显示的词语
    var a = new Array("谢谢大佬！");
    //设置词语给span标签
    var $i = $("<span/>").text(a[a_idx]);
    //下标等于原来下标+1  余 词语总数
    a_idx = (a_idx + 1)% a.length;
    //获取鼠标指针的位置，分别相对于文档的左和右边缘。
    //获取x和y的指针坐标
    var x = e.pageX, y = e.pageY;
    //在鼠标的指针的位置给$i定义的span标签添加css样式
    $i.css({"z-index" : 999999999999999999999999999999999999999999999999999999999999999999999,
        "top" : y - 20,
        "left" : x,
        "position" : "absolute",
        "font-weight" : "bold",
        "color" : "#ff6651",
        "font-size":"20px",
        });
    //在body添加这个标签
    $("button").append($i);
        //animate() 方法执行 CSS 属性集的自定义动画。
        //该方法通过CSS样式将元素从一个状态改变为另一个状态。CSS属性值是逐渐改变的，这样就可以创建动画效果。
        //详情请看http://www.w3school.com.cn/jquery/effect_animate.asp
        $i.animate({
        //将原来的位置向上移动180
            "top" : y - 180,
                "opacity" : 0
         //1500动画的速度
        }, 1500, function() {
        //时间到了自动删除
            $i.remove();
        });
    });
})
    ;
</script>
</head>
<body style="height: 1080px">
<button class="haha" id="haha">测试测试</button>

<div id="div2" style="border:1px solid #dcdcdc">
<p id="p1">点击添加新的元素。</p>
<p id="p2">利用JS向页面动态添加元素</p>
</div>

<div id="haahah"></div>
<p id="append">这是一个段落。</p>
<button onclick="appendText()">追加文本</button>



<script type="text/javascript" src="../../static/js/jquery-3.2.1.min.js"></script>
<script>
	var txt3=document.createElement("img");
	txt3.setAttribute("src","../../static/images/xxdl.gif");
	txt3.setAttribute("width","80px");
	txt3.innerHTML="文本。";               // 使用 DOM 创建文本 text with DOM
    var ele=document.getElementById("haahah");
    var mainWidth2 = ele.offsetWidth;
    var count = mainWidth2/80-1;
    alert(count);
    var mycars=new Array()
    for(i=0;i<count;i++){
        mycars[i]=document.createElement("img");
        mycars[i].setAttribute("src","../../static/images/sjb8.gif");
        mycars[i].setAttribute("class","dianzan");
        mycars[i].setAttribute("width","80px");
        mycars[i].addEventListener("click",function (e) {
            mycars[i].setAttribute("src","../../static/images/xxdl.gif");
        },false);
        ele.appendChild( mycars[i]);
    }



</script>


</body>
</html>