<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>蜗牛的世界</title>
    <link href="../../static/css/boostrapdiagoona.min.css" rel="stylesheet" /> <!-- https://getbootstrap.com/ -->
    <link href="../../static/css/templatemo-diagoona.css" rel="stylesheet" />
<!--

TemplateMo 550 Diagoona

https://templatemo.com/tm-550-diagoona

-->
</head>

<body>
    <div class="tm-container">        
        <div>
            <div class="tm-row pt-4">
                <div class="tm-col-left">
                    <div class="tm-site-header media">
                        <i class="fas fa-umbrella-beach fa-3x mt-1 tm-logo"></i>
                        <div class="media-body">
                            <h1 class="tm-sitename text-uppercase">蜗牛的世界</h1>
                            <p class="tm-slogon" style="font-size: 1.2rem;">自律给人自由</p>
                        </div>
                    </div>
                </div>
                <div class="tm-col-right">
                    <nav class="navbar navbar-expand-lg" id="tm-main-nav">
                        <button class="navbar-toggler toggler-example mr-0 ml-auto" type="button" 
                            data-toggle="collapse" data-target="#navbar-nav" 
                            aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span>&#9776;</span>
                        </button>
                        <div class="collapse navbar-collapse tm-nav" id="navbar-nav">
                            <ul class="navbar-nav text-uppercase">
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href={% url 'IndexHome' %}>培风</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link tm-nav-link" href="#">破卷<span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href={% url 'IndexBlog' %}>无疆</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href={% url 'IndexGallery' %}>筑蜃</a>
                                </li>
                            </ul>                            
                        </div>                        
                    </nav>
                </div>
            </div>
            
            <div class="tm-row">
                <div class="tm-col-left"></div>
                <main class="tm-col-right">
                    <section class="tm-content" id="section_1">
                        <h2 class="mb-5 tm-content-title">我劝天公重抖擞</h2>
                        <p class="mb-5 content_ordinary">『 山重 』『 醍醐 』『 花明 』</p>
                        <hr class="mb-5">
                        <p class="mb-5 content_ordinary">进击的研究僧。<br/>撸得了计算思维，盘得了代码可读性分析。
                            软件与硬件编程齐飞，Block与Scratch共一色。我待ML如初恋，ML虐我千百遍。
                        </p>
{#                        <a href="javascript:alert('该系统维护中！敬请期待！')" class="btn btn-primary">研究领域</a>#}
                        <a onclick="showSection2()" class="btn btn-primary">查看研究</a>

                    </section>
                    <section class="tm-content tm-about" id="section_2" style="display:none;">
                        <h2 class="mb-5 tm-content-title">我劝天公重抖擞</h2>
                        <div class="media my-3">
                            <a href="#" class="btn btn-primary" style="width: 100%">
                                <p class="section_2_p" >计算思维与图形化编程</p>
                            </a>
                        </div>
                        <div class="media my-3">
                            <a href="#" class="btn btn-primary" style="width: 100%">
                                <p class="section_2_p">Scratch-Python编程工具</p>
                            </a> </div>
                        <div class="media my-3">
                            <a href="#" class="btn btn-primary" style="width: 100%">
                                <p class="section_2_p">代码可读性研究</p>
                            </a></div>
                        <div class="media my-3" style="padding-bottom: 30px">
                            <a href="#" class="btn btn-primary" style="width: 100%">
                                <p class="section_2_p">基于树莓派的智能家居</p>
                            </a>
                        </div>
                        <hr/>
                        <a onclick="showSection1()" class="btn btn-primary">返回主页</a>
                    </section>
                </main>
            </div>
        </div>        

        <div class="tm-row" style="margin: 0 auto">
            <div>
                <footer class="tm-site-footer text-right">
                    <p >Copyright &copy; 2020  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Designed By Woniu</p>
                </footer>
            </div>
        </div>

        <!-- Diagonal background design -->
        <div class="tm-bg" id="sssss">
            <div class="tm-bg-left"></div>
            <div class="tm-bg-right"></div>
        </div>
    </div>

    <script src="../../static/js/jquery-3.4.1.min.js"></script>
    <script src="../../static/js/diagoona-bootstrap.min.js"></script>
    <script src="../../static/js/jquery.backstretch.min.js"></script>
    <script src="../../static/js/templatemo-script.js"></script>
    <script>
        $(document).ready(function () {
            const bgImgsNames = ['../../static/images/acaindexbg.jpeg'];
            $.backstretch(bgImgsNames, {duration: 4000, fade: 500});
        });

    </script>
    <script>
            function showSection2(str) {
                document.getElementById("section_1").style.display = "none";
                document.getElementById("section_2").style.display = "block";
            }
            function showSection1(str) {
                document.getElementById("section_2").style.display = "none";
                document.getElementById("section_1").style.display = "block";
            }
        </script>
</body>
</html>