<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>蜗牛的世界</title>
    <link href="../../static/css/boostrapdiagoona.min.css" rel="stylesheet" /> <!-- https://getbootstrap.com/ -->
    <link href="../../static/css/templatemo-diagoona.css" rel="stylesheet" />
<!--

TemplateMo 550 Diagoona

https://templatemo.com/tm-550-diagoona

-->
</head>

<body>
    <div class="tm-container">
        <div style="z-index: 1000">
            <div class="tm-row pt-4">
                <div class="tm-col-left">
                    <div class="tm-site-header media">
                        <i class="fas fa-umbrella-beach fa-3x mt-1 tm-logo"></i>
                        <div class="media-body">
                            <h1 class="tm-sitename text-uppercase">蜗牛的世界</h1>
                            <p class="tm-slogon" style="font-size: 1.2rem;">自律给人自由</p>
                        </div>
                    </div>
                </div>
                <div class="tm-col-right">
                    <nav class="navbar navbar-expand-lg" id="tm-main-nav">
                        <button class="navbar-toggler toggler-example mr-0 ml-auto" type="button"
                            data-toggle="collapse" data-target="#navbar-nav"
                            aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span>&#9776;</span>
                        </button>
                        <div class="collapse navbar-collapse tm-nav" id="navbar-nav">
                            <ul class="navbar-nav text-uppercase">
                                <li class="nav-item active">
                                    <a class="nav-link tm-nav-link" href="#">培风 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href={% url 'IndexAca' %}>破卷</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href={% url 'IndexBlog' %}>无疆</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href={% url 'IndexGallery' %}>筑蜃</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="tm-row">
                <div class="tm-col-left"></div>
                <main class="tm-col-right">
                    <section class="tm-content">
                        <h2 class="mb-5 tm-content-title">故九万里&nbsp;而后培风</h2>
                        <p class="mb-5 content_ordinary">『 成长 』『 进击 』『 盈眶 』</p>
                        <hr class="mb-5">
                        <p class="mb-5 content_ordinary" >时间不会回答成长，但努力会。<br/>从未想过目的地，只是不断前进。
                            每一次尝试与探索，都值得深思记录。临渊羡鱼，不如退而结网。</p>
                        <a href="{% url 'aboutme'  %}" class="btn btn-primary" >关于蜗牛</a>
                    </section>
                </main>
            </div>
        </div>

        <div class="tm-row" style="margin: 0 auto;z-index: 1000" >
            <div>
                <footer class="tm-site-footer text-right">
                    <p >Copyright &copy; 2020  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Designed By Woniu</p>
                </footer>
            </div>
        </div>

        <!-- Diagonal background design -->
        <div class="tm-bg" id="sssss" style="overflow: hidden">
            <div class="tm-bg-left"></div>
            <div class="tm-bg-right"></div>
        </div>
    </div>

    <script src="../../static/js/jquery-3.4.1.min.js"></script>
    <script src="../../static/js/diagoona-bootstrap.min.js"></script>
    <script src="../../static/js/jquery.backstretch.min.js"></script>
    <script src="../../static/js/templatemo-script.js"></script>
    <script>
        $(document).ready(function () {
            const bgImgsNames = ['../../static/images/diagoona-bg-1.jpg'];
            $.backstretch(bgImgsNames, {duration: 4000, fade: 500});
        });
    </script>
</body>
</html>