<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>蜗牛的世界</title>
    <link href="../../static/css/boostrapdiagoona.min.css" rel="stylesheet" /> <!-- https://getbootstrap.com/ -->
    <link href="../../static/css/templatemo-diagoona.css" rel="stylesheet" />
<!--

TemplateMo 550 Diagoona

https://templatemo.com/tm-550-diagoona

-->
</head>

<body>
    <div class="tm-container">        
        <div>
            <div class="tm-row pt-4">
                <div class="tm-col-left">
                    <div class="tm-site-header media">
                        <i class="fas fa-umbrella-beach fa-3x mt-1 tm-logo"></i>
                        <div class="media-body">
                            <h1 class="tm-sitename text-uppercase">蜗牛的世界</h1>
                            <p class="tm-slogon" style="font-size: 1.2rem;">自律给人自由</p>
                        </div>
                    </div>
                </div>
                <div class="tm-col-right">
                    <nav class="navbar navbar-expand-lg" id="tm-main-nav">
                        <button class="navbar-toggler toggler-example mr-0 ml-auto" type="button" 
                            data-toggle="collapse" data-target="#navbar-nav" 
                            aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span>&#9776;</span>
                        </button>
                        <div class="collapse navbar-collapse tm-nav" id="navbar-nav">
                            <ul class="navbar-nav text-uppercase">
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href={% url 'IndexHome' %}>培风</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href={% url 'IndexAca' %}>破卷</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link tm-nav-link" href="#">无疆<span class="sr-only">(current)</span></a>
                                </li>                            
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href={% url 'IndexGallery' %}>筑蜃</a>
                                </li>
                            </ul>                            
                        </div>                        
                    </nav>
                </div>
            </div>
            
            <div class="tm-row">
                <div class="tm-col-left"></div>
                <main class="tm-col-right">
                    <section class="tm-content">
                        <h2 class="mb-5 tm-content-title">书山有尽 行者无疆</h2>
                        <p class="mb-5 content_ordinary">『 记录 』『 总结 』『 热爱 』</p>
                        <hr class="mb-5">
                        <p class="mb-5 content_ordinary">进击的程序员一枚。<br/>给我一把炫酷的键盘，助我在码农世界打下一片江山。
                            内外兼修，方得风清气正。想当扫地僧，先要学会扫地。</p>
                        <a href="{% url 'blog-view' %}" class="btn btn-primary">查看博客</a>
                    </section>
                </main>
            </div>
        </div>        

        <div class="tm-row" style="margin: 0 auto">
            <div>
                <footer class="tm-site-footer text-right">
                    <p >Copyright &copy; 2020  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Designed By Woniu</p>
                </footer>
            </div>
        </div>

        <!-- Diagonal background design -->
        <div class="tm-bg" id="sssss">
            <div class="tm-bg-left"></div>
            <div class="tm-bg-right"></div>
        </div>
    </div>

    <script src="../../static/js/jquery-3.4.1.min.js"></script>
    <script src="../../static/js/diagoona-bootstrap.min.js"></script>
    <script src="../../static/js/jquery.backstretch.min.js"></script>
    <script src="../../static/js/templatemo-script.js"></script>
    <script>
        $(document).ready(function () {
            const bgImgsNames = ['../../static/images/bg.jpg'];
            $.backstretch(bgImgsNames, {duration: 4000, fade: 500});
        });

    </script>
</body>

</html>