<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" >
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>蜗牛的世界</title>
{#	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  <!-- Google web font "Open Sans" -->#}
	<link rel="stylesheet" href="../../static/css/newindexfontawesome-all.min.css">
	<link rel="stylesheet" href="../../static/css/newindexbootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/newindexmagnific-popup.css"/>
	<link rel="stylesheet" type="text/css" href="../../static/slick/slick.css"/>
	<link rel="stylesheet" type="text/css" href="../../static/slick/slick-theme.css"/>
	<link rel="stylesheet" href="../../static/css/newindextooplate-style.css">

	<script>
		var renderPage = true;

	if(navigator.userAgent.indexOf('MSIE')!==-1
		|| navigator.appVersion.indexOf('Trident/') > 0){
   		/* Microsoft Internet Explorer detected in. */
   		alert("Please view this in a modern browser such as Chrome or Microsoft Edge.");
   		renderPage = false;
	}
	</script>
</head>

<body>
	<!-- Loader -->
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	
	<!-- Page Content -->
	<div class="container-fluid tm-main">
		<div class="row tm-main-row">

			<!-- Sidebar -->
			<div id="tmSideBar" class="col-xl-3 col-lg-4 col-md-12 col-sm-12 sidebar">

{#				<button id="tmMainNavToggle" class="menu-icon" style="right:0px;visibility: hidden">&#9776;</button>#}
				<button id="tmMainNavToggle2" class="menu-icon" >&#9776;&nbsp;&nbsp;探索</button>

				<div class="inner"style="width: 100%">
					<nav id="tmMainNav" class="tm-main-nav">
						<ul>
							<li >
								<a href="#intro" id="tmNavLink1" class="scrolly active" data-bg-img="../../static/images/1234.jpg" data-page="#tm-section-1">
									<i class="  tm-nav-fa-icon" ></i>
                                    <div style="margin:auto;text-align: center">培风</div>
{#									<span style="margin: auto">龙首</span>#}
								</a>
							</li>
							<li>
								<a href="#products" id="tmNavLink2" class="scrolly" data-bg-img="../../static/images/acaindexbg.jpeg" data-page="#tm-section-2" data-page-type="carousel">
									<i class=" tm-nav-fa-icon"></i>
									<span style="margin:0 auto;">破卷</span>
								</a>
							</li>							
							<li>
								<a href="#company" class="scrolly" data-bg-img="../../static/images/bg.jpg" data-page="#tm-section-3">
									<i class="tm-nav-fa-icon"></i>
									<span style="margin:0 auto;">无疆</span>
								</a>
							</li>
							<li>
								<a href="#contact" class="scrolly" data-bg-img="../../static/images/gallerybg.jpg" data-page="#tm-section-4">
									<i class=" tm-nav-fa-icon"></i>
									<span style="margin:0 auto;">筑蜃</span>
								</a>
							</li>

						</ul>
					</nav>
				</div>
			</div>

			<div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 tm-content" style="background: rgba(12,12,12,0.25)">

					<!-- section 1 -->
					<section id="tm-section-1" class="tm-section" >
						<div class="ml-auto">
							<header class="mb-4"><h1 class="h1_font_style">故九万里，而后培风</h1></header>
							<p class="mb-5 tm-font-big" style="font-weight: 300">一直在成长，一直在路上。<br/>
                                                                    不断尝试，不断探索。<br/>
                                                                    记录每一次热情与执着。</p>
							<a href="{% url 'aboutme'  %}" class="btn tm-btn tm-font-big" data-nav-link="#tmNavLink2">关于我</a>
							<a href="{% url 'aboutsite'  %}" class="btn tm-btn tm-font-big" data-nav-link="#tmNavLink2" style="margin-left: 20px">关于站点</a>
							<!-- data-nav-link holds the ID of nav item, which means this link should behave the same as that nav item  -->
						</div>
					</section>

					<!-- section 2 -->
					<section id="tm-section-2" class="tm-section tm-section-carousel">
						<div class="ml-auto">
							<header class="mb-4"><h1 class="h1_font_style">我劝天公重抖擞</h1></header>
                            <p class="mb-5 tm-font-big" style="font-weight: 300">进击的PHD。<br/>
                                                                    研究记录站。<br/>
                                                                    『醍醐』『山重』『花明』<br/>
                                                                    K12教育/深度学习/大数据</p>
{#							<a href="{% url 'academic-view'  %}" class="btn tm-btn tm-font-big" data-nav-link="#tmNavLink2">查看研究</a>#}
							<a href="javascript:alert('该系统维护中！敬请期待！')" class="btn tm-btn tm-font-big" data-nav-link="#tmNavLink2">查看研究</a>
							<!-- data-nav-link holds the ID of nav item, which means this link should behave the same as that nav item  -->
						</div>
					</section>

					<!-- section 3 -->
					<section id="tm-section-3" class="tm-section">						
						<div class="ml-auto">
							<header class="mb-4"><h1 class="h1_font_style">行者无疆</h1></header>
							<p class="mb-5 tm-font-big" style="font-weight: 300">进击的程序员。<br/>
                                                                        个人博客系统。<br/>
                                                                        『总结』『专注』『热爱』<br/>
                                                                        书山有尽，行者无疆。</p>
							<a href="{% url 'blog-view' %}" class="btn tm-btn tm-font-big" data-nav-link="#tmNavLink2">查看博客</a>
							<!-- data-nav-link holds the ID of nav item, which means this link should behave the same as that nav item  -->
						</div>
					</section>
				
					<!-- section 4 -->
					<section id="tm-section-4" class="tm-section">
						<div class="ml-auto">
							<header class="mb-4"><h1 class="h1_font_style">人衣披蜃气 马迹印盐花</h1></header>
							<p class="mb-5 tm-font-big" style="font-weight: 300">进击的摄影师。<br/>
                                                                            个人作品搭建的画廊。<br/>
                                                                            当你凝视世界，当你仰望星空。<br/>
                                                                            曾是龙为宅，还疑蜃吐楼。</p>
							<a href="{% url 'gallery-view'  %}" class="btn tm-btn tm-font-big" data-nav-link="#tmNavLink2">查看画廊</a>
							<!-- data-nav-link holds the ID of nav item, which means this link should behave the same as that nav item  -->
						</div>
					</section>
				</div>	<!-- .tm-content -->
            <footer class="footer-link">
					<p >Copyright &copy; 2020  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Designed By Woniu</p>
				</footer>
			</div>	<!-- row -->			
		</div>
		<div id="preload-01"></div>
		<div id="preload-02"></div>
		<div id="preload-03"></div>
		<div id="preload-04"></div>

		<script type="text/javascript" src="../../static/js/newindexjquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="../../static/js/newindexjquery.magnific-popup.min.js"></script>
		<script type="text/javascript" src="../../static/js/newindexjquery.backstretch.min.js"></script>
		<script type="text/javascript" src="../../static/slick/slick.min.js"></script> <!-- Slick Carousel -->

		<script>

		var sidebarVisible = false;
		var currentPageID = "#tm-section-1";

		// Setup Carousel
		function setupCarousel() {

			// If current page isn't Carousel page, don't do anything.
			if($('#tm-section-2').css('display') == "none") {
			}
			else {	// If current page is Carousel page, set up the Carousel.

				var slider = $('.tm-img-slider');
				var windowWidth = $(window).width();

				if (slider.hasClass('slick-initialized')) {
					slider.slick('destroy');
				}

				if(windowWidth < 640) {
					slider.slick({
	              		dots: true,
	              		infinite: false,
	              		slidesToShow: 1,
	              		slidesToScroll: 1
	              	});
				}
				else if(windowWidth < 992) {
					slider.slick({
	              		dots: true,
	              		infinite: false,
	              		slidesToShow: 2,
	              		slidesToScroll: 1
	              	});
				}
				else {
					// Slick carousel
	              	slider.slick({
	              		dots: true,
	              		infinite: false,
	              		slidesToShow: 3,
	              		slidesToScroll: 2
	              	});
				}

				// Init Magnific Popup
				$('.tm-img-slider').magnificPopup({
				  delegate: 'a', // child items selector, by clicking on it popup will open
				  type: 'image',
				  gallery: {enabled:true}
				  // other options
				});
      		}
  		}

  		// Setup Nav
  		function setupNav() {
  			// Add Event Listener to each Nav item
	     	$(".tm-main-nav a").click(function(e){
	     		e.preventDefault();
		    	
		    	var currentNavItem = $(this);
		    	changePage(currentNavItem);
		    	
		    	setupCarousel();
		    	setupFooter();

		    	// Hide the nav on mobile
		    	$("#tmSideBar").removeClass("show");
		    	$("#tmMainNavToggle2").removeClass("show");
		    });
  		}

  		function changePage(currentNavItem) {
  			// Update Nav items
  			$(".tm-main-nav a").removeClass("active");
     		currentNavItem.addClass("active");

	    	$(currentPageID).hide();

	    	// Show current page
	    	currentPageID = currentNavItem.data("page");
	    	$(currentPageID).fadeIn(1000);

	    	// Change background image
	    	var bgImg = currentNavItem.data("bgImg");
	    	$.backstretch("img/" + bgImg);		    	
  		}

  		// Setup Nav Toggle Button
  		function setupNavToggle() {

			$("#tmMainNavToggle").on("click", function(){
				$(".sidebar").toggleClass("show");
			});
  		}
  		function setupNavToggleClose() {

			$("#tmMainNavToggle2").on("click", function(){
				$(".sidebar").toggleClass("show");
			});
  		}

  		// If there is enough room, stick the footer at the bottom of page content.
  		// If not, place it after the page content
  		function setupFooter() {
  			
  			var padding = 100;
  			var footerPadding = 40;
  			var mainContent = $("section"+currentPageID);
  			var mainContentHeight = mainContent.outerHeight(true);
  			var footer = $(".footer-link");
  			var footerHeight = footer.outerHeight(true);
  			var totalPageHeight = mainContentHeight + footerHeight + footerPadding + padding;
  			var windowHeight = $(window).height();		

  			if(totalPageHeight > windowHeight){
  				$(".tm-content").css("margin-bottom", footerHeight + footerPadding + "px");
  				footer.css("bottom", footerHeight + "px");  			
  			}
  			else {
  				$(".tm-content").css("margin-bottom", "0");
  				footer.css("bottom", "20px");  				
  			}  			
  		}

  		// Everything is loaded including images.
      	$(window).on("load", function(){

      		// Render the page on modern browser only.
      		if(renderPage) {
				// Remove loader
		      	$('body').addClass('loaded');

		      	// Page transition
		      	var allPages = $(".tm-section");

		      	// Handle click of "Continue", which changes to next page
		      	// The link contains data-nav-link attribute, which holds the nav item ID
		      	// Nav item ID is then used to access and trigger click on the corresponding nav item
		      	var linkToAnotherPage = $("a.tm-btn[data-nav-link]");
			    
			    if(linkToAnotherPage != null) {
			    	
			    	linkToAnotherPage.on("click", function(){
			    		var navItemToHighlight = linkToAnotherPage.data("navLink");
			    		$("a" + navItemToHighlight).click();
			    	});
			    }
		      	
		      	// Hide all pages
		      	allPages.hide();

		      	$("#tm-section-1").fadeIn();

		     	// Set up background first page
		     	var bgImg = $("#tmNavLink1").data("bgImg");
		     	
		     	$.backstretch("img/" + bgImg, {fade: 500});

		     	// Setup Carousel, Nav, and Nav Toggle
			    setupCarousel();
			    setupNav();
			    setupNavToggle();
			    setupFooter();
			    setupNavToggleClose();

			    // Resize Carousel upon window resize
			    $(window).resize(function() {
			    	setupCarousel();
			    	setupFooter();
			    });
      		}	      	
		});

		</script>
	</body>
</html>

